<h2>UK Police Forces</h2>
<p>Welcome to the UK Police Forces page. Click to see engagement information for the UK's Police Forces.</p>

<body>

    <div class="scrollable">
        <table>
            <tr>
                <th><u>Name</u></th>
                <th><u>Engagement Info</u></th>
            </tr>
            <br>
            <tr *ngFor="let force of forces">
                <th>{{ force.name }}</th>
                <th>
                    <button class="btn btn-primary" (click)="selectForce(force)">
                        See Engagement Info
                    </button>
                </th>
            </tr>
        </table>
    </div>

    <div class="scrollable">
        <table>
            <th *ngIf="renderengagement == true">
                <tr><u>Name</u></tr>
                <tr>{{ engagement.name }}</tr>
                <br>
                <tr><u>Description</u></tr>
                <tr>{{ engagement.description }}</tr>
                <br>
                <tr><u>Telephone</u></tr>
                <tr>{{ engagement.telephone }}</tr>
                <br>
                <tr><u>Website</u></tr>
                <tr>{{ engagement.url }}</tr>
                <br>
                <tr>
                    <button class="btn btn-primary" (click)="clearEngagement()">
                        Clear
                    </button>
                </tr>
            </th>
        </table>
    </div>

</body>

